<mat-card>
    <mat-list>
        <div mat-subheader >
            <h2>Lista de Categorias</h2>
        </div>
        <mat-list-item class="list-category" *ngFor="let categoria of categorias">
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line> {{ categoria.titulo }}</div>
            <div mat-line> {{ categoria.descripcion }}</div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <div class="container text-center mt20 mb20">
        <button routerLink="/admin/add-categoria" mat-raised-button color="primary"> Agregar Categoria</button>
    </div>
</mat-card>